.board {
    margin: 0px; padding: 0px; border: 0px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    background-color: #999;
    border: #222 2px solid;

    margin: 0px; padding: 0px; border: 0px;

    display: flex;
    flex-direction: column;
}

.squares {
    background-color: #999;
    border: #222 2px solid;

    margin: 0px; padding: 0px; border: 0px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #999;
    border: #222 2px solid;
    margin: 2px;
}